<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

	<h1>Edit diary</h1>
	<div>
		<form th:object="${football}" th:action="@{/save}" action="#"
			method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
			<label for="date">Date</label> 
				<input type="text" id="date" th:field="*{date}" /> <br><br>
			<label for="duration">Duration</label> 
				<input type="text" id="duration" th:field="*{duration}" /> <br><br>
			<label for="description">Description</label>
				<input type="text" id="description" th:field="*{description}" /> <br><br>
			
			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
	</div>
</body>
</html>